In [1]:
import pandas as pd
covid_vac = pd.read_excel('CovidVaccinations.xlsx')
covid_19 = pd.read_csv('covid_19.csv')
covid_deaths = pd.read_excel('CovidDeaths.xlsx')

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\admin\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine

# personal information is hidden by '*'
username = 'root'
password = '******'
host = 'localhost'
port = *****
database = 'covid_dt'

engine = create_engine(f'mysql://{username}:{password}@{host}:{port}/{database}')

In [4]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\admin\anaconda3\lib\site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
covid_19.to_sql('covid_19', engine, if_exists='replace', index=True)
covid_vac.to_sql('covid_vac', engine, if_exists='replace', index=True)
covid_deaths.to_sql('covid_deaths', engine, if_exists='replace', index=True)

85171

In [6]:
covid_19 = pd.read_sql('covid_19', engine)
covid_19.head()
covid_19.columns

Index(['index', 'Province/State', 'Country/Region', 'Lat', 'Long', 'Date',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'WHO Region'],
      dtype='object')

In [7]:
covid_vac = pd.read_sql('covid_vac', engine)
covid_vac.head()

,index,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0,AFG,Asia,Afghanistan,2020-02-24,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,1,AFG,Asia,Afghanistan,2020-02-25,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,2,AFG,Asia,Afghanistan,2020-02-26,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,3,AFG,Asia,Afghanistan,2020-02-27,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,4,AFG,Asia,Afghanistan,2020-02-28,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [8]:
covid_deaths = pd.read_sql('covid_deaths', engine)
covid_deaths.head()

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [10]:
covid_19

,index,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,0,None,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,1,None,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,2,None,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,3,None,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,4,None,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...,...
49063,49063,None,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,49064,None,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,49065,None,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,49066,None,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,49067,None,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [11]:
covid_deaths.columns

Index(['index', 'iso_code', 'continent', 'location', 'date', 'total_cases',
       'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')